<h1><center>UW STEMsub ML Homework 1 </center></h1>
<center><b>Instructor:</b> Amanda Worthy</center>
<center><b>Date:</b> July 8th, 2024</center>

# Homework 1 will explore... 

    a. Bigfoot sightings 
    b.

In [1]:
# Conventionally people rename the pandas import to pd for brevity
import pandas as pd
import seaborn as sn
import plotly.express as px
import numpy as np
import matplotlib.pyplot as plt
import fiona
import pyproj
import os
import requests
import matplotlib.ticker as ticker
import glob
import openpyxl
import gdown

/Users/amandaworthy/opt/anaconda3/envs/uwgda2022/lib/python3.9/site-packages/xarray/backends/cfgrib_.py:27: UserWarning: Failed to load cfgrib - most likely there is a problem accessing the ecCodes library. Try `import cfgrib` to get the full error message
  warnings.warn(

## Part 1: We will explore bigfoot sightings, plotting, correlation, and summary statistics ('BigFoot.csv')

### Exploring the data 

These question asks you to explore the dataset we will be using. Answer the following three sentences by writing code to compute the described values in the given variables names.

## Q 1.1) Exploratory Data Analysis: Bigfoot Sighting Questions 

For each of these questions make sure you doccument your thought process for solving the problem in a markdown cell. Then, perform the calculations and create graphs that help you justify your responce. 

#### 1.1 How does the number of sightings vary by month or season? 
- hint: histogram! 

#### 1.2 What time of day do most sightings occur?

#### 1.3 Where do most sightings occur?

##### 1.4 Does temperature seem to have any effect on sightings? If so, what is the correlation coefficient?

In [ ]:
# Did it work? 
## BigFoot.csv should show up with the !ls command if it did

In [32]:
# Import the dataset 

sight= pd.read_csv('BigFoot.csv')  

sight.head(4)

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,I was canoeing on the Sipsey river in Alabama....,NaN,Winston County,Alabama,Summer,NaN,NaN,NaN,NaN,30680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"While attending U.R.I in the Fall of 1974,I wo...","Great swamp area, Narragansett Indians",Washington County,Rhode Island,Fall,Report 6496: Bicycling student has night encou...,41.45,-71.5,9/20/74,6496,...,0.16,0.0,0.0,NaN,1020.61,Foggy until afternoon.,4.0,2.75,198.0,6.92
3,"Hello, My name is Doug and though I am very re...",I would rather not have exact location (listin...,York County,Pennsylvania,Summer,NaN,NaN,NaN,NaN,8000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# lets explore the dataset contents

sight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5021 entries, 0 to 5020
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   observed            4983 non-null   object
 1   location_details    4260 non-null   object
 2   county              5021 non-null   object
 3   state               5021 non-null   object
 4   season              5021 non-null   object
 5   title               4045 non-null   object
 6   latitude            4045 non-null   float64
 7   longitude           4045 non-null   float64
 8   date                4045 non-null   object
 9   number              5021 non-null   int64
 10  classification      5021 non-null   object
 11  geohash             4045 non-null   object
 12  temperature_high    3338 non-null   float64
 13  temperature_mid     3186 non-null   float64
 14  temperature_low     3189 non-null   float64
 15  dew_point           3373 non-null   float64
 16  humidity            3373 non-null   float64
 17  cloud_cover         3084 non-null   float64
 18  moon_phase          3396 non-null   float64
 19  precip_intensity    2712 non-null   float64
 20  precip_probability  2710 non-null   float64
 21  precip_type         1723 non-null   object
 22  pressure            2619 non-null   float64
 23  summary             3366 non-null   object
 24  uv_index            3392 non-null   float64
 25  visibility          3049 non-null   float64
 26  wind_bearing        3387 non-null   float64
 27  wind_speed          3389 non-null   float64
dtypes: float64(16), int64(1), object(11)
memory usage: 1.1+ MB

In [ ]:
#1.1 How does the number of sightings vary by month or season?

## TODO

In [ ]:
#1.2 What time of day do most sightings occur?

## TODO

In [12]:
#1.3 Where do most sightings occur?

## TODO

In [ ]:
##1.4 Does temperature seem to have any effect on sightings? If so, what is the correlation coefficient? 

## TODO

## Part 2: We will explore regression using the energy consumption dataset ('UW_building_energy.csv')

In [35]:
# Load in the data and preview it

#use pd.read_csv('') and .head on the imported dataset 

df= pd.read_csv('UW_building_energy.csv')  

df.head()

,Energy_Use_kWh,Height,Year_Built,Longitude,Latitude,Name,Area_m,Occupants,apartments,parking,stadium,university,utility,warehouse,Building_Length_m,Orientation (degrees north),Relative Compactness,Tree_Canopy,Land_Surface_Temp
0,1.370845e+06,21.38,1966,-122.312915,47.649894,Marine Sciences,5534.231710,297.741666,0,0,0,1,0,0,146,47,0.03,0,25.048282
1,1.609484e+06,21.16,1969,-122.312300,47.650258,Ocean Teach Building,4789.335456,257.666247,0,0,0,1,0,0,163,143,0.03,21,26.473881
2,2.460280e+06,24.35,1999,-122.316275,47.653158,Fishery Sciences,12105.911220,651.298024,0,0,0,1,0,0,329,89,0.03,0,27.987935
3,2.257484e+05,11.72,1976,-122.314870,47.653039,John M Wallace Hall,2830.568604,152.284591,0,0,0,1,0,0,164,179,0.06,0,26.457905
4,3.879320e+06,28.76,1999,-122.312677,47.651256,Ocean Sciences Building,10337.874230,556.177634,0,0,0,1,0,0,252,54,0.02,0,26.452933

---
### Exploring the data 

These question asks you to explore the dataset we will be using. Answer the following three sentences by writing code to compute the described values in the given variables names.

## Q 2.1) Exploring the data

1. Lets start by looking at the dataframe column names.
2. How many buildings do we have in our data set? This should correspond to the number of rows in the dataset. Save the number of rows in a variable called `num_rows`.
3. Which column are we trying to predict given the other features (i.e. what's our output `y`)? Save the column values in a variable called `y`. Hint: its the first column name. 
4. How many inputs do we have in total in the data set (i.e. what is the size of our input `x`)? Save the number of inputs in a variable called `num_inputs`. Lets use the `shape` built in function.

In [14]:
# 2.1.1

###TODO

In [15]:
#2.1.2 

###TODO

In [16]:
#2.1.3 

####TODO

## Q 2.2) What is the average height of buildings built after 2000?

Compute the average height of buildings built after 2000. Save the result in `avg_height_new_build`.

In [17]:
#2.2

###TODO

## Q 2.3) What is the average height of buildings built before 2000?

Compute the average height of buildings built before 2000. Save the result in `avg_height_old_build`.

In [18]:
#2.3 

###TODO

## Q 2.4) Are buildings getting taller or shorter? 
Justify your responce by comparing the answers to 2.2 and 2.3

In [33]:
#2.4  

###TODO

---
# Training Linear Regression Models

## Q 2.4) Training a Linear Regression Model.

We will now train a linear regression model to make useful predictions. Work through the steps below and then answer the following questions. Even though a lot of the code is pre-written, you should understand what it is doing!

### First we split the data into a training set and a test set.

In [43]:
from sklearn.model_selection import train_test_split

# Split data into 80% train and 20% test

train_data, test_data = train_test_split(df , test_size=0.2)

For this problem, we will look at using two sets of features derived from the data inputs. The basic set of features only contains a few data inputs while the advanced features contain them and more.

### THIS IS VERY SIMILAR TO THE REGRESSION NOTEBOOK WE WORKED ON IN CLASS

### We will create a linear model together to predict building energy consumption given a small amount of features.

In [44]:
df.columns

Index(['Energy_Use_kWh', 'Height', 'Year_Built', 'Longitude', 'Latitude',
       'Name', 'Area_m', 'Occupants', 'apartments', 'parking', 'stadium',
       'university', 'utility', 'warehouse', 'Building_Length_m',
       'Orientation (degrees north) ', 'Relative Compactness', 'Tree_Canopy',
       'Land_Surface_Temp'],
      dtype='object')

In [45]:
basic_features = ['Area_m','Occupants' ]

### Now we will train the basic model

In [46]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

#basic model
y_basic= train_data['Energy_Use_kWh']
x_basic= train_data[basic_features]
regr = linear_model.LinearRegression()

basic_model= regr.fit(x_basic, y_basic)
basic_model

basic_model.coef_

array([ -63.83111028, 2228.08166699])

### Now we will make predictions with the model we trained

In [48]:
basic_model_Y_train = basic_model.predict(train_data[basic_features])
basic_model_Y_train

train_data['basic']= basic_model_Y_train


train_data.head()

,Energy_Use_kWh,Height,Year_Built,Longitude,Latitude,Name,Area_m,Occupants,apartments,parking,stadium,university,utility,warehouse,Building_Length_m,Orientation (degrees north),Relative Compactness,Tree_Canopy,Land_Surface_Temp,basic
45,1530000.000,3.00,2017,-122.312014,47.651985,Animal Research and Care Facility,67.213091,1.418196,0,0,0,0,1,0,33,144,0.49,0,25.966953,2.750395e+06
97,948000.000,28.08,2011,-122.315891,47.657156,Cedar East Apartments,7286.846805,204.760395,1,0,0,0,0,0,148,179,0.02,0,26.654907,2.742620e+06
5,3362113.601,25.63,1982,-122.311535,47.651906,Hitchcock Hall,10815.395650,581.868286,0,0,0,1,0,0,166,143,0.02,0,25.873734,3.357616e+06
52,63600.000,9.16,1965,-122.297237,47.658781,Golf Driving Range,473.247882,25.460736,0,0,0,1,0,0,166,111,0.35,0,27.178366,2.778046e+06
24,5328423.964,31.50,1928,-122.307759,47.654831,Mary Gates Hall,17041.661810,916.841405,0,0,0,1,0,0,304,25,0.02,0,27.095521,3.706534e+06

### Now, we will evaluate the basic model predictions to see how they perform.

---
### Root Mean Square Error (RMSE) of trained predictors


Use the basic model you trained in last section to predict what it thinks the values for the data points should be. You can look at the documentation from the `LinearRegression` model to see how to make predictions. 

The RMSE is another commonly reported metric used for regression models. The RMSE is similar to RSS but is modified slightly to scale the number down. The RMSE is defined as $$RMSE = \sqrt{\frac{1}{n}RSS}$$

where the thing inside the square root is refered to as the Mean Square Error (MSE). You will also need to use the `mean_squared_error` function from sklearn (documentation [here](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.metrics.mean_squared_error)) which you'll have to import as well.

### Lets look at the RMSE for the basic model for the TRAINING errors

In [49]:

from sklearn.metrics import mean_squared_error

train_rmse_basic = mean_squared_error(train_data['Energy_Use_kWh'], train_data['basic'], squared=False)
train_rmse_basic

10068860.484119732